.social-logins, .classical-login {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .social-logins, .classical-login {
        width: 45%;
        float: right;
    }
    .social-logins {
        max-width: 350px;
    }
    .social-logins a {
        width: 250px;
    }
}